{% load organisation_tags %}
<section class="cta-section section-padding section-bg">
    <div class="container">
        <div class="row justify-content-center align-items-center">

            <div class="col-lg-5 col-12 ms-auto">
                <h2 class="mb-0">Make an impact. <br> Save lives.</h2>
            </div>

            <div class="col-lg-5 col-12">
                {% load_button 'donate' as donate_btn%}
                <a href="{{donate_btn.link_page.get_url}}" class="me-4">Make a donation</a>

                <a href="{{donate_btn.link_page.get_url}}" class="custom-btn btn smoothscroll">Become a volunteer</a>
            </div>

        </div>
    </div>
</section>