{% load static i18n wagtailcore_tags wagtailimages_tags %}
<main>

    <section class="hero-section hero-section-full-height">
        <div class="container-fluid">
            <div class="row">

                <div class="col-lg-12 col-12 p-0">
                    <div id="hero-slide" class="carousel carousel-fade slide" data-bs-ride="carousel">
                        <div class="carousel-inner">
                            {% for carousel_image in self.carousel.all %}
                            {% image carousel_image.image fill-1920x1184 as img %}
                            <div class="carousel-item {% if forloop.counter == 1 %}active{% endif %}">
                                <img src="{{img.url}}" class="carousel-image img-fluid" alt="{{img.alt}}">

                                <div class="carousel-caption d-flex flex-column justify-content-end">
                                    <h1>{{carousel_image.title}}</h1>

                                    <p>{{carousel_image.sub_title}}</p>
                                </div>
                            </div>
                            {% endfor %}
                            <button class="carousel-control-prev" type="button" data-bs-target="#hero-slide" data-bs-slide="prev">
                                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                <span class="visually-hidden">Previous</span>
                            </button>

                            <button class="carousel-control-next" type="button" data-bs-target="#hero-slide" data-bs-slide="next">
                                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                <span class="visually-hidden">Next</span>
                            </button>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </section>

    {% include_block page.body %}

    {% include 'home/sections/news_section.html' %}


</main>
