<header class="site-header">
  <div class="container">
    <div class="row">

      <div class="col-lg-8 col-12 d-flex flex-wrap">
        <p class="d-flex me-4 mb-0">
          <i class="bi-geo-alt me-2"></i>
          {{orgsetup.address}}
        </p>

        <p class="d-flex mb-0">
          <i class="bi-envelope me-2"></i>

          <a href="mailto:{{orgsetup.email}}">
            {{orgsetup.email}}
          </a>
        </p>
      </div>

      <div class="col-lg-3 col-12 ms-auto d-lg-block d-none">
        {% include 'components/socials.html' %}
      </div>

    </div>
  </div>
</header>