{% extends 'base.html' %}
{% load static wagtailcore_tags  organisation_tags %}

{% block content %}
<!-- Page wrapper for sticky footer -->
<!-- Wraps everything except footer to push footer to the bottom of the page if there is little content -->
<main class="page-wrapper">

    <!-- Hero -->
    <section class="dark-mode position-relative pt-3 mb-5 bread-nav-bg" style="background-color: #000000;">

        <!-- Content -->
        <div class="container position-relative zindex-2 pb-2 pb-md-0">

            <!-- Breadcrumb -->
            <nav class="pt-lg-4" aria-label="breadcrumb">
                {% if self.get_ancestors|length > 1 %}
                <ol class="breadcrumb mb-0">
                    {% for p in self.get_ancestors %}
                    {% if p.is_root == False %}
                    <li class="breadcrumb-item">
                        <a href="{{ p.url }}"><i class="bx bx-home-alt fs-lg me-1"></i>{{ p.title }}</a>
                    </li>
                    {% endif %}
                    {% endfor %}
                    <li class="breadcrumb-item active" aria-current="page"><span class="text-white">{{self.title}}</span></li>
                </ol>
                {% endif %}
            </nav>

            <div class="row justify-content-center pt-3 mt-3">
                <div class="col-xl-6 col-lg-7 col-md-8 col-sm-10 text-center">
                    <h1 class="mb-5 text-white">{{ self.title }}</h1>
                    <div class="d-flex justify-content-center">
                        {% include 'components/socials.html' %}
                    </div>
                </div>
            </div>
        </div>

        <!-- Bottom shape -->
        <div class="d-flex position-absolute top-100 start-0 w-100 overflow-hidden mt-n5" style="color: #000000;">
            <div class="position-relative start-50 translate-middle-x flex-shrink-0 mt-n5 mt-md-n3 mt-lg-n1" style="width: 3788px;">
                <svg xmlns="http://www.w3.org/2000/svg" width="3788" height="144" viewBox="0 0 3788 144">
                    <path fill="currentColor" d="M0,0h3788.7c-525,90.2-1181.7,143.9-1894.3,143.9S525,90.2,0,0z"></path>
                </svg>
            </div>
        </div>
    </section>
    <!-- FAQ (Accordion) -->
    <section class="volunteer-section" style="background-color:{% bg_color page.page_type %}">
        <div class="rounded-3 ">
            {% load_partnership_form %}
        </div>
    </section>
</main>
{% endblock %}
