{% load wagtailimages_tags %}
<section class="testimonial-section section-padding section-bg">
  <div class="container">
    <div class="row">

      <div class="col-lg-8 col-12 mx-auto">
        <h2 class="mb-lg-3">{{self.section_title}}</h2>

        <div id="testimonial-carousel" class="carousel carousel-fade slide" data-bs-ride="carousel">

          <div class="carousel-inner">
            {% for testimonial in page.testimonial.all %}
            <div class="carousel-item {% if forloop.counter == 1 %}active{% endif %}">
              <div class="carousel-caption">
                <h4 class="carousel-title">{{testimonial.testifiers_quote}}</h4>

                <small class="carousel-name"><span class="carousel-name-title">{{testimonial.testifiers_name}}</span>, {{testimonial.testifiers_title}}</small>
              </div>
            </div>
            {% endfor %}

            <ol class="carousel-indicators">
              {% for testimonial in page.testimonial.all %}
              {% image testimonial.testifiers_photo fill-1920x1184 as img %}
              <li data-bs-target="#testimonial-carousel" data-bs-slide-to="{{forloop.counter|add:"-1"}}" class="{% if forloop.counter == 1 %}active{% endif %}">
              <img src="{{img.url}}" class="img-fluid rounded-circle avatar-image" alt="{{img.alt}}">
              </li>
              {% endfor %}
            </ol>

          </div>
        </div>
      </div>

    </div>
  </div>
</section>
