<nav class="nav navbar-dark" aria-label="breadcrumb">
  <div class="container container-fluid text-light fs-5 mt-3">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="{{page.get_parent.get_parent.url}}">{{page.get_parent.get_parent.title}}</a></li>
      <li class="breadcrumb-item"><a href="{{page.get_parent.url}}">{{ page.get_parent.title }} </a></li>
      <li class="breadcrumb-item active" aria-current="page"><a href="{{page.url}}">{{page.title}}</a></li>
    </ol>
  </div>
</nav>