{% load static %}

<div id="donate-button-container">
    <div id="donate-button"></div>
<!--    https://www.paypalobjects.com/donate/sdk/donate-sdk.js-->
    <script src="{% static 'js/paypal_donate_sdk.js' %}" charset="UTF-8"></script>
    <script>
PayPal.Donation.Button({
env:'debug',
hosted_button_id:'A5SJF25CLHMQN',
image: {
src:'{% static "images/cz9zwJv.png" %}',
alt:'Donate with PayPal button',
title:'PayPal - The safer, easier way to pay online!',
}
}).render('#donate-button');
</script>
</div>
