
<ul class="social-icon">
    {% if settings.configuration.OrganisationSetup.twitter %}
    <li class="social-icon-item">
        <a href="#" class="social-icon-link bi-twitter"></a>
    </li>                                 
    {% endif %}
    {% if settings.configuration.OrganisationSetup.facebook %}
    <li class="social-icon-item">
        <a href="#" class="social-icon-link bi-facebook"></a>
    </li>                                    
    {% endif %}
    {% if settings.configuration.OrganisationSetup.instagram %}
    <li class="social-icon-item">
        <a href="#" class="social-icon-link bi-instagram"></a>
    </li>                         
    {% endif %}
    {% if settings.configuration.OrganisationSetup.youtube %}
    <li class="social-icon-item">
        <a href="https://youtube.com/templatemo" class="social-icon-link bi-youtube"></a>
    </li>
    {% endif %}
    {% if settings.configuration.OrganisationSetup.whatsapp %}
    <li class="social-icon-item">
        <a href="#" class="social-icon-link bi-whatsapp"></a>
    </li>                                   
    {% endif %}
</ul>